@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root {
  height: 100vh;
  width: 100%;
  font-size: 16px;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  font-feature-settings: "cv05" 1, 'cv08' 1, 'cv10' 1, 'ss01' 1, 'ss08' 1;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
  background: linear-gradient(115deg, #1e3a8a, #9333ea, #e11d48, #f59e0b);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}


.text-heading-2xl {
  letter-spacing: -.025em;
  line-height: 1.1;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  /* Adjust spacing between items */
}

.no-pointer {
  pointer-events: none;
}

h1,
h2,
p {
  pointer-events: none;
}

::selection {
  background-color: #ff875b7f;
  /* Yellow color */
  color: #000;
  /* Text color */
}
.animated-gradient {
  background: linear-gradient(115deg, #1e3a8a, #9333ea, #e11d48, #f59e0b);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.text-gradient-animate {
  background: linear-gradient(115deg, #4cc9f0, #7209b7, #f72585);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
